@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<section>
    <div>
        <h1>
            View all Topics
        </h1>
    </div>
    <div>
        <h1>
            Check what's trending
        </h1>
    </div>
    <div>
        <h1>
            Connect with your peers
        </h1>
    </div>
    </div>
</section>
